$sweetBlue: #1A2930;
$darkBlue1: #0F1626;
$darkBlue2: #031424;
$darkBlue3: #192231;
$blueTint: #2196F3;
$easyBlue: #5EAFFF;

$darkGreen: #0A1612;

$lightViolet: #494E6B;

$vividYellow: #F9BE02;
$blandYellow: #F7CE3E;

$brownGrey: #414141;

$darkViolet: #22252C;

$lightWhite: #DDD;